* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  background-color: #f2ebe3;
}

body {
  justify-content: center;
  display: grid;
  max-width: 37rem;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  align-content: center;
  font-family: "Montserrat";
  padding: .9375rem;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-desktop img {
  border-top-left-radius: 0.55rem;
  border-end-start-radius: 0.55rem;
  height: 100%;
  object-fit: cover;
}

.image-mobile {
  display: none;
}

.card-description {
  display: grid;
  border-top-right-radius: 0.55rem;
  border-end-end-radius: 0.55rem;
  background-color: #fff;
  padding: 1.875rem;
}

.card-text {
  display: grid;
  gap: 0.625rem;
}

.text {
  font-size: 0.875rem;
  font-weight: 500;
  color: #6b718a;
  line-height: 1.5;
}

.title-description {
  font-family: "Fraunces";
  font-size: 2rem;
  line-height: 1;
  color: #1c232b;
  margin-bottom: 0.625rem;
}

.price {
  display: flex;
  gap: 0.625rem;
  justify-content: start;
  align-items: center;
  padding: 0.625rem;
}

.actual-price {
  color: #568c77;
  font-family: "Fraunces";
  font-size: 2rem;
}

.discount-price {
  color: #6c7289;
  font-weight: 200;
  font-size: 0.8rem;
  text-decoration: line-through;
}

.buy-button {
  background-color: #568c77;
  border-radius: 0.5rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-self: center;
  gap: 10px;
  padding: 15px;
}

.buy-button a {
  text-decoration: none;
  color: #fff;
}

.buy-button:hover {
  background-color: #447562;
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .card-description {
    border-top-right-radius: initial;
    border-bottom-left-radius: 0.55rem;
  }
  .image-desktop {
    display: none;
  }
  .image-mobile {
    display: initial;
  }

  .image-mobile img {
    border-top-left-radius: 0.55rem;
    border-top-right-radius: 0.55rem;
    height: 100%;
    object-fit: cover;
  }
}
